.myprofile-description-block {
    display: flex;
    position: fixed;

    flex-direction: column;

    height: 75vh;
    width: 94vw;

    margin-top: 20vh;
    margin-left: 3vw;
    margin-bottom: 3vw;
}

.myprofile-description-header {
    display: flex;
    position: relative;
    flex-direction: column;

    width: 100%;
    height: 15%;

    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 5vh;

    color: #CCCED7;
}

.myprofile-description-delimeter {
    display: flex;
    position: relative;

    margin-top: 2vh;
}

.myprofile-infoblock {
    display: flex;
    position: relative;
    flex-direction: row;

    width: 100%;
    height: 85%;
}

.myprofile-userinfo {
    display: flex;
    position: relative;

    align-items: center;
    flex-direction: column;

    width: 20%;

    background-color: #373946;
    opacity: .7;
    border-radius: 1.1vh;
}

.myprofile-userinfo-title {
    display: flex;
    position: relative;

    justify-content: center;
    align-items: center;

    width: 80%;
    height: 5%;

    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 3vh;

    color: #CCCED7;

    margin-top: 10%;
}

.myprofile-userinfo-button {
    display: flex;
    position: relative;
    flex-direction: column;

    align-items: center;
    justify-items: center;

    width: 80%;
    height: 30%;

    background-color: #77BA99;
    border-radius: 1.1vh;
    border: none;

    margin-top: 10%;

}

.add-button {
    display: flex;
    position: relative;

    height: 20%;
    width: 16%;

    margin-top: 25%;
}

.myprofile-userposts {
    display: flex;
    position: relative;

    align-items: center;
    justify-content: center;

    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 10vh;
    color: white;

    margin-left: 5%;
    width: 75%;
}

.myprofile-description-form {
    display: flex;
    position: relative;

    flex-direction: column;

    margin-top: 10%;

    width: 80%;
    height: 40%;

}

.description-header-form {
    display: flex;
    position: relative;

    text-align: left;
    color: #CCCED7;

    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bold;

    width: 100%;
    height: 15%;

    font-size: 2vh;

}

.description-form-block {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    background-color: #262730;
    height: 70%;

    border-radius: 1.1vh;

}

.description-form-text {
    display: flex;
    position: relative;

    width: 90%;
    height: 90%;

    color: white;
    font-family: Futura, sans-serif;
    outline: none;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-y: auto;
}

.save-button {
    display: flex;
    position: relative;

    align-items: center;
    justify-content: center;

    margin-top: 2%;
    margin-left: 80%;

    width: 20%;
    height: 10%;

    Font-family: Futura, sans-serif;
    background-color: #77BA99;
    color: #262730;

    border: none;
    border-radius: 1.1vh;
}

.save-button:hover {
    color: white;
}
