.login {
    display: flex;
    position: fixed;

    height: 100%;
    width: 100%;

    flex-direction: column;
    align-items: center;

    backdrop-filter: blur(0.2vh);
}

.login-header {
    display: flex;
    position: relative;

    margin-top: 5%;

    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 6vh;

    color: #CCCED7;
}

.login-keys {
    display: flex;
    position: relative;

    margin-top: 2%;
    height: 10vh;
    width: 5vw;
}

.login-block {
    display: flex;
    position: relative;

    margin-top: 1%;
    height: 35%;
    width: 29%;

    flex-direction: column;
    align-items: center;

    background-color: #373946;
    opacity: .7;
}

.login-block-login {
    display: flex;
    position: relative;

    flex-direction: column;

    width: 90%;
    height: 20%;

    margin-top: 5%;
}

.login-block-login-title {
    display: flex;
    position: relative;

    margin-left: 1%;
    margin-right: 1%;

    font-family: "Josefinn", sans-serif;
    font-size: 1.5vh;
    color: white;
    text-align: left;
}

.login-block-login-form{
    display: flex;
    position: relative;

    width: 100%;
    height: 100%;

    margin-top: 1vh;
    align-items: center;

    background-color: #262730;
    opacity: .7;

    border-radius: 1.1vh;
}

.login-block-login-form-input {
    display: flex;
    position: relative;

    font-family: "Josefinn", sans-serif;
    font-size: 1.5vh;
    color: #77BA99;

    height: 50%;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;

    background: none;
    border: none;
}

