.app {
  background-image: url("./images/background.png");
  background-color: #262730;
  background-clip: padding-box;
  background-size: contain;
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}